@charset "utf-8";

$plaster: hsl(33,50,91);
$turquoise: hsl(201,64,45);
$turquoise-invert: $plaster;
$blue: hsl(215,40,31);
$blue-invert: $plaster;
$orange: hsl(13,77,69);
$orange-invert: $plaster;

$primary: $turquoise;
$link: $blue;
$info: $orange;

$footer-background-color: $plaster;

@import "../../node_modules/bulma/bulma";