@charset "utf-8";

$white: hsl(0, 0%, 100%);
$green: hsl(47, 16%, 49%);
$charcoal: hsl(203, 30%, 26%);
$blue: hsl(206, 46%, 53%);
$coral: hsl(1, 80%, 68%);

@use "bulma/sass" with (
  $primary: $charcoal,
  $link: $blue,
  $info: $coral,
  $footer-background-color: $white
);